---
---
@import "main";

html {
  --primary-background-color: white;
  --primary-text-color: black;
}

body, html {
    height: 100%;
    font: 15px Courier, sans-serif;
}

* {
  box-sizing: border-box;
}

.bg-image {
  /* The image used */
  background-image: url("back.svg");
  background-repeat: repeat;
  /* Add the blur effect */
  filter: blur(2px);
  -webkit-filter: blur(12px);
  /* Full height */
  height: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-size: auto;
}

.img-container {
  text-align: center;
  display: block;
}