html {
  --primary-background-color: white;
  --primary-text-color: #222; }

body {
  background-color: var(--primary-background-color);
  color: var(--primary-text-color);
  transition: background 0.1s ease-in, color 0.1s ease-in;
  font-size: 120%; }

.mid-section-home {
  text-align: center;
  display: inline-block;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 400px;
  height: 350px;
  margin: auto;
  font-size: 1.5rem; }
  @media (max-width: 480px) {
    .mid-section-home {
      font-size: 1 rem;
      height: 350px;
      width: 100%; }
      .mid-section-home span {
        display: none; } }
  .mid-section-home h1 {
    font-size: 3.5rem;
    font-weight: 600; }

.sub-heading {
  width: 80%;
  margin: 0 auto;
  display: flex; }
  @media (max-width: 480px) {
    .sub-heading {
      width: 60%;
      min-width: 270px; } }

.summary-about-me {
  width: 50%;
  text-align: right;
  padding-right: 20px; }

.nav-link {
  border-left: 2px solid var(--primary-text-color);
  width: 50%;
  padding-left: 20px; }
  .nav-link ul {
    padding-inline-start: 0; }
  .nav-link li {
    display: block;
    text-align: left; }
    .nav-link li a {
      text-decoration: none;
      color: var(--primary-text-color); }
      .nav-link li a:hover {
        border-bottom: 2px solid var(--primary-text-color);
        color: var(--primary-text-color); }
  @media (max-width: 480px) {
    .nav-link li {
      display: block;
      margin-left: 10px; } }

.mid-section-cover {
  width: 60%;
  margin: 0 auto;
  margin-top: 50px; }
  @media (max-width: 768px) {
    .mid-section-cover {
      width: 70%; } }
  @media (max-width: 480px) {
    .mid-section-cover {
      width: 95%; } }

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;
  border-bottom: 2px solid var(--primary-text-color); }
  nav * {
    margin: 10px; }
  nav h1 {
    font-size: 40px; }
  nav ul {
    flex-shrink: 1;
    padding: 0 10px; }
    nav ul li {
      padding: 0 10px;
      display: inline-block; }
      nav ul li a {
        text-decoration: none;
        color: var(--primary-text-color); }
        nav ul li a:hover {
          border-bottom: 2px solid var(--primary-text-color);
          color: var(--primary-text-color); }
      @media (max-width: 480px) {
        nav ul li {
          text-align: center;
          padding: 0 10px; } }
  @media (max-width: 480px) {
    nav {
      flex-direction: column;
      justify-content: center;
      text-align: center; }
      nav * {
        flex-basis: 100%; } }

.sub-mid-section-cover {
  width: 90%;
  margin: 0 auto; }
  .sub-mid-section-cover * {
    max-width: 100%;
    overflow-x: scroll; }
  .sub-mid-section-cover a {
    color: var(--primary-text-color); }

.blog-section-list a {
  color: var(--primary-text-color); }

.container-404 {
  text-align: center; }

#themeSelector {
  position: fixed;
  top: 5px;
  right: 5px; }

body, html {
  height: 100%;
  font: 15px Courier, sans-serif; }

* {
  box-sizing: border-box; }

.bg-image {
  /* The image used */
  background-image: url("back.svg");
  background-repeat: repeat;
  /* Add the blur effect */
  filter: blur(20px);
  -webkit-filter: blur(15px);
  /* Full height */
  height: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-size: auto; }

.bg-text {
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center; }
