name: Hugo blog
on:
  push:
    branches:
      - master

jobs:
  merge_conflict_job:
    runs-on: ubuntu-latest
    name: Find merge conflicts
    steps:
      - uses: actions/checkout@v2
      - name: Merge Conflict finder
        uses: olivernybroe/action-conflict-finder@v2.0

  markdown-link-check:
    name: MD link checker
    needs: merge_conflict_job
    runs-on: ubuntu-latest
    steps:
    - name: Checkout Repository
      uses: actions/checkout@v2
    - uses: gaurav-nelson/github-action-markdown-link-check@v1

  build_hugo_static_site:
    name: Deploy Hugo static site
    needs: markdown-link-check
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2

      - name: Deploy the site
        uses: benmatselby/hugo-deploy-gh-pages@master
        env:
          GITHUB_ACTOR: hugo_bot_action
          HUGO_VERSION: 0.87.0
          HUGO_EXTENDED: true
          HUGO_ARGS: '-v'
          TARGET_REPO: stiliajohny/stiliajohny.github.io
          TARGET_BRANCH: gh-pages
          TOKEN: ${{ secrets.HUGO_TOKEN }}
          
  sitemap-ping:
    name: Google Sitemap Ping
    needs: build_hugo_static_site
    runs-on: ubuntu-latest
    steps:
      - name: "Checkout Repository"
        uses: actions/checkout@v2
      - name: ping
        env:
          MAP_URL: "NULL" # set custom URL if you use it
        run: |
          BASE_URL="https://stiliajohny.github.io"
          MAP_URL="${BASE_URL}/sitemap.xml"
          RSS_URL="${BASE_URL}/index.xml"
          sleep 3
          curl -v "http://www.google.com/ping?sitemap=${MAP_URL}" &> /dev/null &
          curl -v "http://www.bing.com/ping?sitemap=${RSS_URL}" &> /dev/null &
          curl -v "http://www.google.com/ping?sitemap=${MAP_URL}" &> /dev/null &
          curl -v "http://www.bing.com/ping?sitemap=${RSS_URL}" &> /dev/null &
          wait
          echo "Done"


