name: Push to GitHub Pages on push to master
on:
  push:
    branches:
      - master

jobs:
  build:
    name: Deploy
    runs-on: ubuntu-latest
    steps:
      - name: Checkout master
        uses: actions/checkout@v1

      - name: Deploy the site
        uses: benmatselby/hugo-deploy-gh-pages@master
        env:
          GITHUB_ACTOR: hugo_bot_action
          HUGO_VERSION: 0.87.0
          TARGET_REPO: stiliajohny/stiliajohny.github.io
          TARGET_BRANCH: gh-pages
          TOKEN: ${{ secrets.HUGO_TOKEN }}
