name: Hugo blog
on:
  push:
    branches:
      - master

jobs:
  build_hugo_static_site:
    name: Deploy hugo static site
    runs-on: ubuntu-latest
    steps:
      - name: Checkout master
        uses: actions/checkout@v1

      - name: Deploy the site
        uses: benmatselby/hugo-deploy-gh-pages@master
        env:
          GITHUB_ACTOR: hugo_bot_action
          HUGO_VERSION: 0.87.0
          TARGET_REPO: stiliajohny/stiliajohny.github.io
          TARGET_BRANCH: gh-pages
          TOKEN: ${{ secrets.HUGO_TOKEN }}
          
  sitemap-ping:
    name: Google Sitemap Ping
    runs-on: ubuntu-latest
    steps:
      - name: "Checkout Repository"
        uses: actions/checkout@v2
      - name: ping
        env:
          MAP_URL: "NULL" # set custom URL if you use it
        run: |
          BASE_URL="https://stiliajohny.github.io"
          MAP_URL="${BASE_URL}/sitemap.xml"
          RSS_URL="${BASE_URL}/index.xml"
          sleep 3
          curl -v "http://www.google.com/ping?sitemap=${MAP_URL}" &> /dev/null &
          curl -v "http://www.bing.com/ping?sitemap=${RSS_URL}" &> /dev/null &
          curl -v "http://www.google.com/ping?sitemap=${MAP_URL}" &> /dev/null &
          curl -v "http://www.bing.com/ping?sitemap=${RSS_URL}" &> /dev/null &
          wait
          echo "Done"
